In [1]:
import pandas as pd
import psycopg2
import json
import csv

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
with open('./db_config.json', 'r') as archivo:
    datos = json.load(archivo)

In [4]:
try:
    conn = psycopg2.connect(
        host = 'localhost',
        user = datos['user'],
        password = datos['password'],
        database = datos['database']
    )
    print('¡Conexion exitosa!!')
    cursor = conn.cursor()
    
except Exception as ex:
    print(ex)

¡Conexion exitosa!!

In [5]:
sql = '''
        SELECT y_pred FROM happiness
          '''
y_pred = pd.read_sql_query(sql, conn)

C:\Users\57313\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
y_pred.head()

     y_pred
0  4.484867
1  5.433342
2  5.399725
3  4.970286
4  5.560708

In [7]:
y_pred.shape

(235, 1)

In [8]:
y_test = pd.read_csv("y_test.csv")

In [16]:
y_test.head()

   happiness_score
0            4.350
1            4.441
2            5.976
3            4.121
4            6.952

In [9]:
y_test.shape

(235, 1)

In [10]:
mean_squared_error(y_test, y_pred)

0.3538175407748981

In [11]:
r2_score(y_test, y_pred)

0.7166184982233497